* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #667eea, #764ba2);
  font-family: 'Segoe UI', sans-serif;
}

.container {
  background: white;
  padding: 2rem 2.5rem;
  border-radius: 18px;
  width: 700px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.25);
  text-align: center;
  animation: fadeIn 0.4s ease;
}

h1 {
  margin-bottom: 1rem;
  color:rgb(116, 116, 155);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  color:black;
}

input, textarea {
  padding: 0.7rem;
  border-radius: 10px;
  border: 1px solid #ddd;
  font-size: 0.95rem;
  outline: none;
  background-color: rgb(206, 199, 217);
  color:black;
}

input:focus, textarea:focus {
  border-color: #667eea;
}

textarea {
  resize: none;
  height: 80px;
}

button {
  margin-top: 0.5rem;
  padding: 0.7rem;
  border-radius: 10px;
  border: none;
  background: linear-gradient(135deg, #667eea, #764ba2);
  color: white;
  font-weight: 600;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}

.result {
  margin-top: 1.2rem;
  background: #f4f6fb;
  padding: 1rem;
  border-radius: 12px;
  text-align: left;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(12px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
